*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.child-div{
  background-color: #e3b21ee0;
  margin: 100px 0px;
  padding: 30px 0px;
  border-radius: 20px;
  
}

.title_img{
  width: 50%;
}

.eachItems{
  gap: 100px;
}

.input{
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
}

.eachItems{
  background-color: #fdf8e3;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 13px;
  border: 1px solid black;
}
.delete{
  color: grey;
}
.eachItems:hover .delete {
  color: #c30000;
}

.delete:hover{
  color: #c30000;
}

.addItems{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn{
  margin-left: 5px;
  background-color: rgb(179, 179, 179);
font-weight: bold;
font-weight: bolder;
 padding: 7px;
 border-radius: 5px;
}

.itemname{
  font-size: 1rem;
}

.clear-btn:hover {
  background-color: #c30000 !important;
  border: 1px solid #c30000 !important;
}
